/* 搜索框样式开始 */

#search {
    min-width: 1200px;
    height: 41px;
    padding: 18px 0 15px 0;
    background: #fff;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
}

#search .left {
    float: left;
}

#search .logo {
    float: left;
    margin-right: 34px;
}

.logo img {
    height: 36px;
}

.xnav {
    float: left;
    max-width: 585px;
    height: 56px;
    overflow: hidden;
}

.xnav>.xnav_lis>ul>li {
    float: left;
    /* margin-right: 24px; */
    margin: 0 12px;
    cursor: pointer;
}

.xnav>.xnav_lis>ul>li>a {
    font-size: 16px;
    color: #333;
    line-height: 40px;
}

.xnav>.xnav_lis>ul>li:hover a {
    color: #ca151d;
}

#search .right {
    float: right;
}

#search .right .sousuo {
    position: relative;
    margin-top: 5px;
    background: #fff;
    border-radius: 16px 16px 16px 16px;
    border: 1px solid #fff;
}

.search_form {
    line-height: 1;
    width: 318px;
    height: 28px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    position: relative;
    /* z-index: 310; */
}

.txt {
    border: 0;
    color: #3a3a3a;
    text-indent: 15px;
    width: 285px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    float: left;
}

.sub {
    width: 35px;
    height: 30px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    position: absolute;
    background: transparent;
    padding-right: 10px;
    right: 0;
    top: 0;
    font-size: 0;
    /* z-index: 500; */
}

.icon-fangdajing {
    font-size: 14px;
    line-height: 30px;
}

#search .right .sousuo:hover {
    border: 1px solid #ccc;
}

.search_key {
    position: absolute;
    right: 30px;
    bottom: 5px;
    /* z-index: 400; */
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
}

.sWord a {
    margin-right: 14px;
}

.sWord .a2:hover {
    color: #000;
}

.right .sousuo:hover .iconali- {
    color: #777777;
}

.search_history {
    background: #fff;
    width: 320px;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    line-height: 26px;
    /* z-index: 1; */
    box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
}

.searchkey {
    border-top: 1px solid #f2f2f5;
}

.search_history p {
    font-size: 13px;
    color: #888;
    text-indent: 15px;
}

.searchkey ul {
    text-indent: 15px;
}

.searchkey ul li {
    padding-right: 17px
}

.uList li:hover {
    background: #f0f0f0;
}

.searchkey ul li a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    height: 30px;
    line-height: 30px;
}

.naver-sub {
    /* display: none; */
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 74px;
    left: 0;
    background: #fff;
    box-shadow: 0 3px 3px 0 rgba(121, 121, 121, 0.26);
}

.naver_qu>a {
    font-size: 14px;
    vertical-align: middle;
    color: #3a3a3a;
}

.naver_qu>span {
    font-size: 8px;
    margin-left: 20px;
}

.naver_qu {
    float: left;
    padding-top: 15px;
}

.sub_lei {
    float: left;
    width: 920px;
    margin-left: 20px;
    padding-top: 10px;
}

.sub_lei>a {
    display: inline-block;
    color: #717171;
    font-size: 14px;
    padding-right: 23px;
    line-height: 30px;
    height: 28px;
}

.sub_lei>a:nth-child(1),
.sub_lei>a:last-child {
    padding-left: 0;
}

.sub_lei>a:hover {
    color: #ca151d;
}

.sub_img_itme {
    padding-top: 66px;
    /* width: 100%; */
}

.sub_img_itme>ul>li {
    float: left;
}

.sub_img_itme>ul>li>a {
    display: block;
    width: 160px;
    margin: 0 20px 10px 20px;
}

.sub_img_itme>ul>li>a>p:nth-child(1) {
    margin: 10px 10px 0;
}

.sub_img_p {
    color: #3a3a3a;
}

.sub_img_p,
.sub_img_itme>ul>li>a>p:nth-child(3) {
    text-align: center;
    line-height: 22px;
}

.sub_img_itme>ul>li>a>p:nth-of-type(3) {
    color: #ca151d;
}

.sub_img_itme>ul>li>a:hover .sub_img_p {
    color: #ca151d;
}

.naver-sub>div:nth-child(2)>.sub_img_itme {
    padding-top: 40px;
}


/* 搜索框样式结束 */


/* 商品数据区开始 */


/* 商品条目 */

#product_data {
    height: 870px;
    /* background: skyblue; */
}

.product_data_l {
    float: left;
    height: 820px;
    position: relative;
}

.p_data_top>a,
.product_t_name {
    font-size: 14px;
    color: #666;
    line-height: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

.p_data_top {
    margin-bottom: 10px;
}

.p_data_top>a:nth-child(1) {
    margin-left: 0;
}


/* 放大镜区 */

.fdj_fixed {
    position: fixed;
    top: 0;
    z-index: 99;
}

.fdj_abs {
    position: absolute;
    bottom: 60px;
}

.p_data_fdj>.p_d_b_left {
    width: 450px;
    height: 535px;
    /* background: blueviolet; */
    box-sizing: border-box;
}

.data_img_m {
    position: relative;
}

.data_img_m>p>img {
    height: 450px;
    width: 450px;
}

.data_img_s {
    position: relative;
    width: 450px;
    height: 76px;
    padding: 0 35px;
    box-sizing: border-box;
    margin-top: 20px;
}

.data_img_s>.img_s_list {
    position: relative;
    width: 360px;
    height: 76px;
    margin: 0 auto;
    overflow: hidden;
}

.data_img_s>.img_s_list>ul {
    position: absolute;
    width: 1200px;
    /* margin-left: 35px; */
    top: 0;
    left: 0;
}

.data_img_s>.data_img_s_s_l {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -48px -29px;
    position: absolute;
    top: 22px;
    left: 0px;
}

.data_img_s>.data_img_s_s_r {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -78px -29px;
    position: absolute;
    top: 22px;
    left: 420px;
}

.data_img_s>.data_img_s_s_l:hover {
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -48px -59px;
}

.data_img_s>.data_img_s_s_r:hover {
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -78px -59px;
}

.data_img_s>.img_s_list>ul>li {
    float: left;
    /* margin: 0 3px; */
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
}

.data_img_s>.img_s_list>ul>li>a {
    display: block;
    /* width: 68px;
    height: 74px; */
}

.data_img_s>.img_s_list>ul>li>a>img {
    width: 66px;
    height: 66px;
    margin: 1px;
}

.data_img_s>.img_s_list>ul>.img_s_list_red {
    border: 1px solid #ca141d;
    /* box-sizing: border-box; */
}


/* 遮罩层 */

.data_img_m>.shade {
    display: none;
    border: 1px solid #c4c4c4;
    position: absolute;
    width: 225px;
    height: 225px;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    cursor: move;
}

.data_img_m>.fdj_img_xxl {
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    top: 0;
    left: 460px;
    z-index: 99;
    overflow: hidden;
    background: #fff;
}

.data_img_m>.fdj_img_xxl>img {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
}


/* <!-- 文字信息区 --> */

.message {
    float: right;
    height: 820px;
    width: 700px;
    /* background: skyblue; */
    margin-left: 50px;
    position: relative;
}

.me_h>h3 {
    font-size: 21px;
    color: #3a3a3a;
    line-height: 30px;
    font-weight: 400;
}

.me_span {
    margin-top: 5px;
}

.me_span>p {
    font-size: 14px;
    line-height: 24px;
}

.me_span>p>span {
    color: #ca151d;
    margin-right: 20px;
}

.me_price {
    width: 100%;
    background: #f5f5f5;
    margin-top: 10px;
    padding-bottom: 5px;
}

.me_price>div {
    float: left;
}

.me_price_l {
    padding-top: 5px;
    margin-right: 15px;
}

.me_price_l>p {
    line-height: 24px;
    margin: 10px 10px;
}

.me_price_r {
    padding-top: 15px;
}

.me_price_r>p {
    line-height: 24px;
    margin-bottom: 5px;
}

.me_price_r>p:nth-child(1) {
    color: #ca151d;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.me_price_r>p>i {
    display: inline-block;
    width: 65px;
    height: 18px;
    line-height: 18px;
    color: #ca151d;
    border: 1px solid #ca151d;
    text-align: center;
    margin-right: 10px;
}

.me_serve {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}

.data_span {
    line-height: 32px;
    margin: 0 20px 0 10px;
}

.m_s_span {
    position: relative;
    margin-left: 18px;
}

.m_s_span::before {
    content: "\e617";
    font-family: "iconfont";
    font-size: 14px;
    color: #3a3a3a;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -18px;
    line-height: 17px;
}

.me_serve span:nth-child(2) {
    margin-right: 10px;
}


/* 商品版本选择区 */

.phone_color {
    margin-top: 10px;
    padding: 5px 0;
}

.phone_color>ul>li>a>img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.phone_color>ul>li {
    padding: 5px 0;
}

.add_bor_color>li {
    border: 1px solid #a4a4a4;
    /* padding: 5px 10px; */
}

.phone_color>ul>li>a {
    color: #3a3a3a;
    padding: 7px 10px;
}


/* .product_versions .p_v_ul_click>li>a:hover {
    border-color: #717171;
} */

.p_v_ul_click>.bor_color {
    border-color: #ca151d !important;
}

.phone_color>ul>li {
    float: left;
    margin-right: 15px;
}

.phone_color>ul {
    float: left;
}

.data_span1 {
    float: left;
    line-height: 42px;
    margin: 0 25px 0 10px;
}

.phone_v {
    padding: 5px 0;
}

.phone_v>.data_span2 {
    float: left;
    line-height: 32px;
    margin: 0 25px 0 10px;
}

.phone_v>.p_v_list {
    float: left;
    width: 616px;
}

.phone_v>.p_v_list>li {
    float: left;
    margin-right: 15px;
}

.phone_v>.p_v_list>li>a {
    display: block;
    /* border: 1px solid #a4a4a4; */
    padding: 7px 10px;
    color: #3a3a3a;
}

.phone_v>.data_sp {
    margin-right: 49px;
}

.phone_v>.p_v_ul_last>li>a {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    background: #f5f5f5;
    border: 0;
}

.phone_v>.p_v_ul_last>li>a:hover {
    color: #ca151d;
}


/* 保障服务区 */

.phone_v>.pv_teshu>li {
    display: block;
    border: 1px solid #d6d6d6;
    padding: 7px 10px;
    color: #3a3a3a;
    cursor: pointer;
}

.phone_v>.p_v_list>.p_v_ul3_li>.pv_ul_p>span,
.phone_v>.p_v_list>.p_v_ul3_li1>.pv_ul_p>span,
.phone_v>.p_v_list>.p_v_ul3_li2>.pv_ul_p>span {
    position: relative;
    margin-right: 20px;
}

.phone_v>.p_v_list>.p_v_ul3_li>.pv_ul_p>span::after,
.phone_v>.p_v_list>.p_v_ul3_li1>.pv_ul_p>span::after,
.phone_v>.p_v_list>.p_v_ul3_li2>.pv_ul_p>span::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    right: -25px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 0;
}

.phone_v>.p_v_list>.p_v_ul3_li:hover span::after,
.phone_v>.p_v_list>.p_v_ul3_li1:hover span::after,
.phone_v>.p_v_list>.p_v_ul3_li2:hover span::after {
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 -20px;
}

.p_v_ul3_li {
    position: relative;
}

.pv_ul3_li_a {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 152.23px;
    height: 30px;
    border-bottom: 1px solid #fff;
    z-index: 150;
}

.p_v_ul3_li_a {
    display: none;
    position: absolute;
    height: 44px;
    width: 395px;
    background: #fff;
    z-index: 99;
    top: 30px;
    left: -1px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px 0;
}

.p_v_ul3_li_a_1 {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #a4a4a4;
    vertical-align: middle;
    margin: 0 10px;
}

.p_v_ul3_li_a_3 {
    margin-left: 10px;
}

.p_v_ul3_li1 {
    position: relative;
}

.pv_ul3_li_a1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 203px;
    height: 30px;
    border-bottom: 1px solid #fff;
    z-index: 150;
}

.p_v_ul3_li_a1 {
    display: none;
    position: absolute;
    height: 44px;
    width: 395px;
    background: #fff;
    z-index: 99;
    top: 30px;
    left: -1px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px 0;
}

.p_v_span1 {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #a4a4a4;
    vertical-align: middle;
    margin: 0 10px;
}

.p_v_span3 {
    margin-left: 10px;
}

.p_v_ul3_li2 {
    position: relative;
}

.pv_ul3_li_a2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 163px;
    height: 30px;
    border-bottom: 1px solid #fff;
    z-index: 150;
    margin-left: 1px;
}

.p_v_ul3_li_a2 {
    display: none;
    position: absolute;
    height: 70px;
    width: 360px;
    background: #fff;
    z-index: 99;
    top: 30px;
    left: -1px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px 0;
}

.p_v_ul3_li_a2>p:nth-child(1) {
    margin-bottom: 5px;
}

.p_v_span4 {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #a4a4a4;
    vertical-align: middle;
    margin: 0 10px;
}

.p_v_span6,
.p_v_span8 {
    margin-left: 10px;
}

.p_v_ul3_li_a_3>a,
.p_v_span3>a,
.p_v_span6>a,
.p_v_span8>a {
    color: #3a3a3a;
}


/* 分期服务区 */

.installment>li {
    float: left;
    border: 1px solid #a4a4a4;
    /* padding: 7px 10px; */
    /* padding-right: 30px; */
    cursor: pointer;
    position: relative;
}

.installment>li:nth-child(1) {
    margin-right: 15px;
}

.z_installment>a {
    display: block;
    width: 114px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    box-sizing: border-box;
    /* text-align: center; */
    color: #3a3a3a;
    position: relative;
}

.h_installment>a {
    display: block;
    width: 88px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #3a3a3a;
    position: relative;
}

.z_installment>a::after,
.h_installment>a::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 0;
}

.installment>li:hover a::after {
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 -20px;
}

.z_install_z {
    position: absolute;
    top: 0;
    left: 0;
    width: 114px;
    height: 30px;
    border-bottom: 2px solid #fff;
    z-index: 150;
}

.h_install_z {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 30px;
    border-bottom: 2px solid #fff;
    z-index: 150;
}

.z_installment_con,
.h_installment_con {
    display: none;
    position: absolute;
    top: 30px;
    left: -1px;
    width: 450px;
    height: 222px;
    border: 1px solid #a4a4a4;
    background: #fff;
    z-index: 99;
    box-sizing: border-box;
    cursor: auto;
}

.z_installment:hover .z_installment_con,
.h_installment:hover .h_installment_con {
    display: block;
}

.h_installment:hover .h_install_z {
    display: block;
}

.z_installment_li>ul>li,
.h_installment_li>ul>li {
    float: left;
    width: 115px;
    height: 40px;
    border: 1px solid #a4a4a4;
    margin: 17px 0;
    margin-right: 25px;
    text-align: center;
    padding: 6px 0;
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.z_installment_li,
.h_installment_li {
    padding-left: 22px;
}

.z_installment_li>ul>li>p,
.h_installment_li>ul>li>p {
    line-height: 20px;
}

.z_p_c {
    color: #ca151d;
}

.z_installment_wenzi>p:nth-child(1),
.h_installment_wenzi>p:nth-child(1) {
    line-height: 20px;
}

.z_installment_wenzi>p:nth-child(2),
.z_installment_wenzi>p:nth-child(3),
.h_installment_wenzi>p:nth-child(2),
.h_installment_wenzi>p:nth-child(3) {
    padding-top: 5px;
    color: rgb(164, 164, 164);
}

.z_installment_wenzi,
.h_installment_wenzi {
    margin-bottom: 20px;
    padding-left: 22px;
}

.z_installment_shoping,
.h_installment_shoping {
    height: 50px;
    width: 100%;
    border-top: 1px solid #ededed;
    padding: 7px 0;
    box-sizing: border-box;
}

.z_installment_shoping>span,
.h_installment_shoping>span {
    display: block;
    width: 75px;
    height: 35px;
    background: red;
    text-align: center;
    line-height: 35px;
    float: right;
    margin-right: 20px;
    font-size: 14px;
    color: #fff;
    opacity: 0.3;
    cursor: not-allowed;
}

.z_installment_shoping_span_op {
    opacity: 1 !important;
    cursor: pointer !important;
}

.z_installment_shoping_span_op:hover {
    opacity: 0.6 !important;
}

.z_installment_li_red {
    border-color: #ca151d !important;
}

.z_installment_li_red::after {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -28px -115px;
}

.selected_itmes>span {
    float: left;
    margin: 0 10px 0 10px;
}

.selected_itmes>p {
    color: #ca151d;
}


/* 商品数量加减 */

.p30pro_place {
    width: 700px;
    height: 45px;
    /* background: skyblue; */
    margin-top: 13px;
}

.commodity_num {
    float: left;
    /* width: 60px; */
    /* height: 45px; */
    /* background: #ca151d; */
    margin-left: 10px;
    border: 1px solid #d6d6d6;
    margin-right: 10px;
}

.commodity_num .disabled {
    color: #c4c4c4;
    cursor: not-allowed;
}

.commodity_num>input {
    width: 40px;
    height: 43px;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.commodity_num>p {
    height: 43px;
    float: right;
    border-left: 1px solid #d6d6d6;
}

.commodity_num>p>a {
    display: block;
    width: 19px;
    height: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #777;
    font-weight: bold;
}

.commodity_num>p>a:nth-child(1) {
    border-bottom: 1px solid #d6d6d6;
}

.p30pro_place_r {
    float: left;
}

.p30pro_place_r>a {
    float: left;
    border-radius: 2px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.join_car {
    display: block;
    width: 150px;
    height: 45px;
    background: #fc600c;
    margin-right: 20px;
}

.at_buy {
    display: block;
    width: 130px;
    height: 45px;
    background: #ca151d;
}

.data_qr {
    position: absolute;
    /* width: 45px;
    height: 90px; */
    /* background: red; */
    bottom: 90px;
    right: 0;
    border: 1px solid #a4a4a4;
    border-radius: 2px;
    z-index: 2;
}

.data_qr_li1>a {
    width: 42px;
    height: 43px;
    display: block;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -114px 4px;
    border-bottom: 1px solid #a4a4a4;
}

.data_qr_li2>a {
    width: 42px;
    height: 43px;
    display: block;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat -114px -50px;
}

.data_qr>ul>li {
    position: relative;
    /* width: 100px; */
}

.data_qr_de {
    display: none;
    position: absolute;
    top: -8px;
    right: 43px;
    width: 170px;
    height: 58px;
}

.data_qr_li1>.data_qr_de>.data_qr_detial {
    /* position: absolute; */
    width: 106px;
    min-height: 36px;
    text-align: center;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    /* z-index: 9; */
}

.data_qr_li1>.data_qr_de>.data_qr_detial>a {
    color: red;
}

.data_qr_li1>.data_qr_de>.data_qr_detial>span {
    position: relative;
}

.data_qr_li1>.data_qr_de>.data_qr_detial>span::before {
    position: absolute;
    content: "";
    display: block;
    width: 11px;
    height: 23px;
    top: 7px;
    left: 123px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 -60px;
}

.data_qr_li1:hover .data_qr_de {
    display: block;
}

.data_qr_li2>.data_qr_q {
    display: none;
    position: absolute;
    bottom: -5px;
    right: 43px;
    width: 170px;
    height: 166px;
}

.data_qr_li2>.data_qr_q>.data_qr_qr>p:nth-child(1) {
    line-height: 34px;
}

.data_qr_li2>.data_qr_q>.data_qr_qr {
    position: relative;
    width: 120px;
    min-height: 36px;
    text-align: center;
    padding: 0 10px 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.data_qr_li2>.data_qr_q>.data_qr_qr::before {
    position: absolute;
    content: "";
    display: block;
    width: 11px;
    height: 23px;
    top: 125px;
    left: 140px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0 -60px;
}

.data_qr_li2:hover .data_qr_q {
    display: block;
}

.line {
    width: 100%;
    height: 1px;
    background: #ddd;
}


/* 商品搭配 */

.product_match_top {
    padding: 11px 0 19px 37px;
}

.product_match_top>a {
    display: inline-block;
    font-size: 16px;
    color: #5b5b5b;
    line-height: 30px;
    text-align: center;
    padding: 0 9px;
}

.product_match_top_a {
    cursor: default;
    color: #ca141d !important;
    border-bottom: 1px solid #ca141d;
}

.product_match_btm {
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.product_match_btm_l {
    float: left;
    margin-left: 25px;
    position: relative;
}

.product_match_btm_l>a {
    width: 120px;
    display: block;
    color: rgb(51, 51, 51);
}

.product_match_btm_l>a>img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto;
}

.product_match_btm_l>a>p {
    margin: 6px 8px;
    height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}

.product_match_btm_l>p {
    text-align: center;
    color: #ca141d;
}

.product_match_btm_l::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: url(../img/p30-pro/icon/icon2.png) no-repeat 0px -86px;
    top: 45px;
    right: -30px;
}

.product_match_btm_c {
    float: left;
    /* width: 789px;
    height: 212px; */
    /* background: skyblue; */
    margin-left: 60px;
    padding: 0 30px;
}

.product_match_btm_c>ul>li {
    float: left;
    margin: 0 10px;
}

.product_match_btm_c>ul>li>a {
    width: 120px;
    display: block;
    color: rgb(51, 51, 51);
}

.product_match_btm_c>ul>li>a>img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto;
}

.product_match_btm_c>ul>li>a>p {
    margin: 6px 8px;
    height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}

.product_match_btm_c .dapei1>ul>li {
    float: left;
    margin-right: 5px;
}

.product_match_btm_c .dapei1 {
    padding-left: 10px;
}

.product_match_btm_c .dapei1>ul>li>a {
    display: inline-block;
    width: 30px;
}

.product_match_btm_c .dapei1>ul>li>a>img {
    width: 28px;
    height: 28px;
    border: 1px solid #a4a4a4;
}

.product_match_btm_c .dapei2 {
    padding-left: 10px;
    line-height: 22px;
}

.product_match_btm_c .dapei2>i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #a4a4a4;
    vertical-align: middle;
}

.product_match_btm_c .dapei2>span {
    color: #ca141d;
    vertical-align: middle;
}

.product_match_btm_r {
    float: left;
    /* width: 200px;
    height: 126px; */
    padding-left: 50px;
}

.product_match_btm_r>p {
    line-height: 24px;
}

.product_match_btm_r>p:nth-child(2) {
    font-size: 13px;
}

.product_match_btm_r>p:nth-child(2)>span {
    color: #ca141d;
    font-size: 16px;
}

.product_match_btm_r>a:nth-child(3) {
    display: block;
    border-radius: 2px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    width: 120px;
    height: 30px;
    background: #fc600c;
    margin-right: 20px;
    margin: 5px 0 10px 0;
}

.product_match_btm_r>a:nth-child(4) {
    display: block;
    border-radius: 2px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    width: 120px;
    height: 30px;
    background: #ca151d;
    margin-right: 20px;
}


/* 页面吸顶跳转 */

.product_content_title_hide {
    display: none;
    position: fixed;
    top: 0px;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 2px #ddd;
}

.product_content_title_hide .p_c_t_h_con p {
    text-align: center;
    padding: 11px 0 12px 0;
}

.product_content_title_hide .p_c_t_h_con p a {
    margin: 0 25px;
    font-size: 18px;
    padding: 0 10px 6px 10px;
    color: #a4a4a4;
    text-align: center;
    position: relative;
}

.p_c_t_h_con {
    position: relative;
}

.product-tab-btn {
    position: absolute;
    top: 9px;
    right: 10px;
}

.product-tab-btn a {
    width: 120px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background: #ca151d;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}


/* 商品详情内容 */

.product_content_title {
    padding: 20px 265px;
}

.product_content_top>a {
    margin: 0 25px;
    font-size: 18px;
    padding: 0 10px 6px 10px;
    color: #a4a4a4;
    text-align: center;
}


/* 商品内容图片 */


/* .product_contant {
    width: 100%;
} */

.product_contant {
    /* height: 2096px; */
    position: relative;
}

.product_contant_imgs {
    height: 2004px;
    overflow: hidden;
}

.product_contant_imgs>p img {
    vertical-align: top;
    width: 100%;
    min-width: 1000px;
}

.product_contant_botYin {
    width: 100%;
    height: 300px;
    background: url(../img/p30-pro/p30_contant/bg67.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.product_contant_botYin>p {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.product_contant_botYin>p>a {
    font-size: 14px;
    padding: 11px 38px 11px 38px;
    border: 1px solid #a4a4a4;
    background: #fff;
    border-radius: 2px;
    color: #3a3a3a;
}

.hr-60 {
    height: 60px;
}

.product_parameter>h2 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    position: relative;
    padding-left: 14px;
    font-weight: 400;
}

.product_parameter>h2::before {
    content: "";
    width: 4px;
    height: 23px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    background: #ca141d;
}

.hr-30 {
    height: 30px;
}

.product_parameter_main {
    padding: 9px 50px 32px 16px;
}

.product_parameter_main>h2 {
    font-size: 22px;
    font-weight: 600;
    width: 100px;
    float: left;
    position: relative;
    top: -1px;
}

.product_parameter_main>ul {
    font-size: 14px;
    float: right;
}

.product_parameter_main>ul>li {
    position: relative;
    margin-bottom: 9px;
}

.product_parameter_main>ul>li>label {
    float: left;
    width: 128px;
}

.product_parameter_main>ul>li span {
    float: left;
    width: 854px;
    margin-left: 20px;
}

.product_parameter_main>ul>li::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #d8d8d8;
    position: absolute;
    top: 8px;
    left: -16px;
}

.product_parameter ul li::after {
    content: " ";
    display: table;
    clear: both;
}

.product-parameter-list {
    position: relative;
    padding: 37px 50px 35px 16px;
}

.product-parameter-list>h2 {
    font-size: 22px;
    font-weight: 600;
    width: 100px;
    float: left;
    position: relative;
    top: -1px;
}

.product-parameter-list ul {
    font-size: 14px;
    float: right;
}

.product-parameter-list ul li {
    margin-bottom: 9px;
}

.product-parameter-list ul li label {
    float: left;
    width: 128px;
}

.product-parameter-list ul li span {
    float: left;
    width: 854px;
    margin-left: 20px;
}

.product-parameter-list ul li::after {
    content: " ";
    display: table;
    clear: both;
}

.zhuticanshu {
    width: 100%;
    background: #f5f5f5;
}

.product-title {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    position: relative;
    font-weight: 400;
    padding-left: 14px;
}

.product-title::before {
    content: "";
    width: 4px;
    height: 23px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    background: #ca141d;
}

.product-packing {
    padding: 38px 30px 40px 130px;
}

.product-packing em {
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #3a3a3a;
    margin-right: 20px;
    margin-bottom: 16px;
    padding-left: 16px;
    width: 223px;
}

.pro-tab-service {
    padding: 34px 50px 53px 130px;
}

.pro-tab-service p>span {
    position: relative;
    padding-left: 16px;
    line-height: 26px!important;
    font-size: 14px!important;
    color: #3a3a3a!important;
}

.pro-tab-service p>span::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #d8d8d8;
    position: absolute;
    top: 6px;
    left: 0;
}